<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{common/header :: head}"></head>
<body>
<header th:insert="~{common/navbar :: navbar}"></header>

<div class="container">
<div>Welcome <span th:text="${name}"></span></div>
<hr>
<h1>Your Todos</h1>
<table class="table">
    <thead>
    <tr>
        <th>Description</th>
        <th>Target</th>
        <th>Is Done?</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.targetDate}"></td>
        <td th:text="${todo.done}"></td>
        <td> <a th:href="@{/delete-todo(id=${todo.id})}" class="btn btn-warning">Delete </a></td>
        <td> <a th:href="@{/update-todo(id=${todo.id})}" class="btn btn-success">Update </a></td>
    </tr>
    </tbody>
</table>
    <a th:href="@{add-todo}" class="btn btn-success">Add Todo</a>
</div>
<footer th:insert="~{common/footer :: footer}"></footer>
</body>
</html>


<!--Notes:
 1. welcome.html not printing the ${name}. The reason is that whenever we put something in a model by default, it's only available for the scope of that request.
 2. If we want it to live longer, then we need to put it in something called session.
 3. How do we put values in this session? - by using an annotation called at session attributes.
 4. Bootstrap provides a no. of classes like for whole content to center: container, for table: table.-->