<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/header :: head}"></head>
<body>
<header th:insert="~{common/navbar :: navbar}"></header>
<div class="container">
    <h1>Enter Todo Details</h1>
    <form th:action="@{/update-todo}" th:object="${todo}" method="post" class="row g-3 align-items-center">
        <input type="hidden" th:field="*{id}">
        <div class="col-auto">
            <label for="description" class="form-label">Description</label>
        </div>
        <div class="col-auto">
            <input type="text" id="description" name="description" th:field="*{description}" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-warning"></div>
        </div>
        <div class="col-auto">
            <label for="targetDate" class="form-label">Target Date</label>
            <input type="text" id="targetDate" name="targetDate" th:field="*{targetDate}" class="form-control" required>
            <div th:if="${#fields.hasErrors('targetDate')}" th:errors="*{targetDate}" class="text-warning"></div>
        </div>

        <div class="col-auto">
            <label for="done" class="form-label">Is Done?</label>
            <input type="checkbox" id="done" name="done" th:field="*{done}" class="form-check-input">
        </div>

        <div class="col-auto">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{done}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<script src="webjars/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#targetDate').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
<footer th:insert="~{common/footer :: footer}"></footer>
</body>
</html>
